// You can define the main color directly in the @base variable.
// All other variables depend on @base.

@base:					#fd2a30;
@base-light:			lighten( @base, 30% );
@base-dark:				darken( @base, 15% );

@link-color:			@base;

@component-active-bg:	@base;

@input-border-focus:	@base;

@btn-success-bg:		lighten(@base, 7%);

@state-success-bg:		@base-light;
@state-success-text:	@base-dark;

// Fonts
@icon-font-path:		'../melany/lib/bootstrap/fonts/';
@font-path-base:		'../melany/fonts/';